<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout.html::head}">
</head>
<body>
    <header th:replace="~{/layout.html::header}"></div>
    </header>
    <div class="message success" th:if="${message != null}" th:text="${message}"></div>
    <div class="message error" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
    <article class="list">
        <div class="item" th:each="question : ${questions}">
            <div class="textOfQuestion" th:text="${question.question_text}"></div>
            <a th:href="@{/delete/{questionId}(questionId=${question.id})}" class="button">❌</a>
            <a th:href="@{/edit/{questionId}(questionId=${question.id})}" class="button">🖋️</a></div>
    </article>
</body>
</html>