<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout.html::head}">
</head>
<body>
    <header th:replace="~{/layout.html::header}"></div>
    </header>
    <div id="message" th:if="${message != null}" th:text="${message}"></div>
    <article class="list">
        <div class="item" th:each="question : ${questions}">
            <div class="textOfQuestion" th:text="${question.questionText}"></div>
            <form th:method="delete" th:action="@{/delete/{questionId}(questionId=${question.id})}" class="button">
                <button type="submit">❌</button>
            </form>
            <a th:href="@{/edit/{questionId}(questionId=${question.id})}" class="button">🖋️</a></div>
    </article>
</body>
</html>